<dl id="<%= id %>_field" >
    <dt>
        <label for="<%= id %>">
            <%= id %>
        </label>
    </dt>
    <dd>
        <input id="<%= id %>"
               class="<%= className || "" %>"
               type="text"
               value="<%= value || "" %>"
               name="<%= id %>" />
    </dd>
</dl>